* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 1rem;
}

section {
	padding: 1rem 0;
}

h1 {
	color: brown;
}

p {
	font-size: 1.3rem;
}

/* smartphone view */
@media (max-width: 577px) {
	h1 {
		font-size: 1.8rem;
	}

	img {
		float: left;
		margin-right: 1rem;
		width: 160px;
	}

}

/* computer/tablet view */
@media (min-width: 578px) {
	h1 {
		font-size: 3.2rem;
	}

	img {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
	}
}